body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffaf0;
    /* 暖色系の背景色 */
}

header {
    background-color: #8b4513;
    /* 暖色系のダークオレンジ色 */
    color: white;
    text-align: center;
    padding: 0.5em 0;
}

header h1 {
    font-size: 1.5em;
    margin: 0;
}

footer {
    background-color: #8b4513;
    /* 暖色系のダークオレンジ色 */
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 150px;
    /* アイコンの幅を小さく */
    height: auto;
    /* アスペクト比を維持 */
}

.color {
    animation: a 1.0s linear 0s infinite;
}

@keyframes a {
    0% {
        color: magenta;
    }

    33% {
        color: cyan;
    }

    67% {
        color: yellow;
    }

    100% {
        color: magenta;
    }
}

.rotate {
    display: inline-block;
    font-size: 10px;
    font-family: monospace;
    animation: b 2.0s linear 0s infinite;
}

@keyframes b {
    0% {
        transform: scale(1.0, 2.0) rotate(0deg);
    }

    50% {
        transform: scale(3.0, 1.0) rotate(360deg);
    }

    100% {
        transform: scale(1.0, 2.0) rotate(360deg);
    }
}